body {
    font-family: Arial;
    font-size: 10pt;
    color: #555;
}
#tartalom {
    width: 700px;
    margin: auto;
}
#sztori {
    width: 300px;
    float: left;
}
img {
    float: left;
    margin: 0 20px 20px 0;
}
#reszletek {
    clear: both;
}